@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

.errorButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

small {
  color: white;
  border: 1px solid #172b4d;
  background: #172b4d;
  border-radius: 0.5rem;
  padding: 0.75rem;
  display: flex;
  width: 75%;
  text-align: center;
}

.modal-noscroll {
  overflow-y: hidden;
}

.web-button {
  background: #36b37f;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  padding: 12px;
  text-align: center;
  font-size: 17px;
  margin: 20px;
}

.center-align {
  align-self: center;
}

.web-button:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.web-button:active {
  background-color: #008552;
}

.body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem 0 1rem;
}

#logo {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
}

nav a {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  color: #28352f;
}

nav img {
  transition-property: transform;
  transition-duration: 1s;
  transition-delay: 0s;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 100vh;
  width: 100%;
  padding: 3rem 0 0 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: white;
}

.collapse {
  display: none;
}

.navcollapse {
  display: none;
}

#closebtn {
  align-self: flex-end;
  margin-right: 2rem;
}

nav ul a {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #3a4a42;
  display: flex;
  margin: 20px;
}

.heading {
  background-image: url(images/background_img.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  align-items: center;
  margin-bottom: 0;
}

.mainpage-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
}

.mainpage-heading span {
  color: #36b37e;
}

.mainpage-content {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.heading ul {
  display: flex;
  width: 70%;
  padding-inline-start: 25px;
  align-items: center;
}

.heading li {
  list-style: none;
  flex: 1;
}

.heading a {
  padding-top: 50px;
}

.works-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 24px 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  padding-top: 75px;
  justify-content: center;
  justify-items: center;
}

.aboutme-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 24px 0;
}

.grid-container-aboutme {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  justify-content: center;
}

.center-border {
  width: fit-content;
  justify-self: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #d0d9d4;
  border-radius: 15px;
  margin-bottom: 150px;
  height: min-content;
  width: 95%;
  justify-self: center;
}

.placehold {
  height: 252px;
  border-radius: 15px;
}

.flex-container h3 {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
}

.flex-container ul {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container li {
  flex: none;
  list-style-type: none;
  padding: 8px 12px;
  margin: 8px 8px;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
  background: #ebf0ee;
}

.aboutme-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin-top: 40px;
}

.flex-container2 {
  padding-left: 0;
  padding-top: 50px;
  gap: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nest-flex {
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  text-align: center;
  list-style: none;
  height: 352px;
  width: 327px;
  display: flex;
  flex-direction: column;
}

.nest-flex ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nest-flex img {
  order: -1;
  padding-top: 20px;
}

.nest-flex h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
}

.nest-flex li {
  flex: none;
  list-style-type: none;
  padding: 8px 12px;
  margin: 8px;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background: #fff;
  color: #36b37e;
}

.background_aboutme {
  background-image: url(./images/aboutme1.svg), url(./images/aboutme2.svg);
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./images/contact-background.svg);
  background-repeat: no-repeat;
  background-position: right 90%;
}

.contact-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

footer form {
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

footer input {
  margin: 5%;
  background: #fff;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
  width: 100%;
}

footer textarea {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #60c095;
  background: #fff;
  margin: 5%;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
  width: 100%;
  box-sizing: border-box;
}

footer button {
  border: 1px solid #fff;
}

.footer-icon {
  display: flex;
  width: 70%;
  padding-inline-start: 25px;
  align-items: center;
}

.footer-icon li {
  list-style: none;
  flex: 1;
}

footer h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 0;
}

.desktop-nav {
  display: none;
}

label {
  align-self: flex-start;
  color: #172b4d;
}

#modal-container {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  order: 5;
}

.modal-footer a {
  margin: 1rem 0 0 0;
  display: flex;
}

.modal-img {
  order: 1;
}

.modal-img2 {
  display: none;
}

.modal-body h2 {
  order: 2;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 1rem 0 0 0;
}

.ul-mobile {
  order: 3;
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
}

.ul-mobile li {
  flex: none;
  list-style-type: none;
  padding: 8px 12px;
  margin: 0 8px 0 0;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
  background: #ebf0ee;
}

.modal-body p {
  order: 4;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #344563;
}

.close-mobile {
  display: flex;
  position: absolute;
  width: fit-content;
  align-self: flex-end;
  margin: 1.5rem 1.5rem 0 0;
}

.close-desktop {
  display: none;
}

.ul-desktop {
  display: none;
}

.modal-header {
  display: none;
}

.modal-footer img {
  padding-left: 0.75rem;
}

nav img:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 1000px) {
  #icon {
    display: none;
  }

  #logo {
    display: none;
  }

  .navcollapse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    background: none;
  }

  #closebtn {
    display: none;
  }

  nav ul img {
    display: none;
  }

  nav ul {
    list-style: none;
    padding: 0;
    height: auto;
    position: initial;
    background: none;
    overflow: initial;
    flex-direction: row;
    justify-content: center;
  }

  nav ul a {
    margin: 26px;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
    text-decoration: none;
    color: #344563;
    font-size: 15px;
    transition-property: font-size, color;
    transition-duration: 1s, 1s;
    transition-delay: 0s, 0s;
  }

  .background-desktop {
    background-image: url(./images/desktop/main-page-desktop-background.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 130vh;
  }

  .heading {
    background-image: none;
  }

  .heading p {
    width: 45%;
  }

  .heading ul {
    width: 20%;
    padding: 0;
    margin: 20px 0 70px 0;
  }

  .heading li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .desktop-none {
    display: none;
  }

  .heading a {
    padding: 0;
  }

  .grid-container {
    grid-template-columns: auto auto auto;
    grid-gap: 32px 24px;
  }

  .flex-container {
    margin-bottom: 0;
  }

  .flex-container ul {
    flex-wrap: wrap;
  }

  .flex-container li {
    margin: 8px 8px 8px 8px;
  }

  .aboutme-text {
    width: 50%;
    display: flex;
    justify-self: center;
  }

  .background_aboutme {
    background-image: url(./images/desktop/illustration-about-me-2-desktop.svg),
      url(./images/desktop/illustration-about\ me-1-desktop.svg);
    background-repeat: no-repeat;
  }

  .grid-container-aboutme {
    padding: 0;
  }

  .flex-container2 {
    flex-direction: row;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nest-flex {
    height: 382px;
  }

  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: auto;
    background-image: url(./images/desktop/illustration-1-contact-form-desktop.svg),
      url(./images/desktop/contact\ form-illustratoin-3-desktop.svg),
      url(./images/desktop/illustration-2-contact-form-desktop.svg);
    justify-content: center;
    background-repeat: no-repeat;
    background-position: left 75%, right 75%, 25% 60%;
  }

  footer form {
    margin-top: 58px;
    display: flex;
    flex-direction: column;
    align-items: initial;
    width: 50%;
  }

  footer input {
    margin: 2%;
    background: #fff;
    border: 1px solid #d0d9d4;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #6b778c;
    width: 75%;
  }

  footer textarea {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #60c095;
    background: #fff;
    margin: 2%;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #091e42;
    width: 75%;
    box-sizing: border-box;
    height: 100px;
  }

  footer button {
    background: #36b37f;
    border-radius: 4px;
    padding: 12px;
    margin: 0;
    width: max-content;
    border: 1px solid #fff;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  .footer-icon {
    display: flex;
    width: 19%;
    padding-inline-start: 25px;
    align-items: center;
  }

  .footer-icon li {
    list-style: none;
    flex: 1;
  }

  .contact-heading {
    width: 30%;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: 52px;
    text-align: center;
    box-sizing: border-box;
  }

  footer h4 {
    display: none;
  }

  footer hr {
    width: 100%;
    margin-top: 200px;
    border-top: 1px solid lightgray;
  }

  label {
    margin: 0 2%;
  }

  .modal {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #ebecf0;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 8px;
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
  }

  .modal-h2 {
    display: none;
  }

  .modal-body h2 {
    order: 0;
    width: 65%;
  }

  .modal-body a {
    margin: 1rem 0 0 0;
  }

  .modal-header {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }

  .modal-footer {
    display: flex;
    justify-content: space-between;
  }

  .modal-footer a {
    margin: 1rem 0 0 0;
    display: none;
  }

  .close-mobile {
    display: none;
  }

  .close-desktop {
    display: flex;
    width: fit-content;
    align-self: flex-end;
  }

  .modal-img {
    display: none;
  }

  .modal-img2 {
    display: initial;
    border-radius: 8px;
    width: 100%;
    margin-top: 2%;
  }

  .ul-mobile {
    display: none;
  }

  .ul-desktop {
    order: 3;
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
  }

  .ul-desktop li {
    flex: none;
    list-style-type: none;
    padding: 8px 12px;
    margin: 0 8px 0 0;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #3a4a42;
    background: #ebf0ee;
  }

  .modal-header a {
    align-items: center;
    display: flex;
  }

  nav a:hover {
    font-size: 18px;
    color: #36b37e;
  }

  .modal-header img {
    padding-left: 0.75rem;
  }

  .errorButton {
    flex-direction: row;
    box-sizing: border-box;
    width: 75%;
    margin: 2%;
    justify-content: flex-start;
  }

  small {
    width: auto;
    box-sizing: border-box;
  }
}
